/******************************** imports ********************************/
@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url(./assets/fonts/SourceSansPro-Light.ttf);
}

/********************** variables **********************/
:root {
  --font1: "Source Sans Pro", sans-serif;
  --black: rgb(40, 40, 40);
  --grey-dark: rgb(80, 80, 80);
  --grey-light: rgba(107, 107, 107, 0.5);
  --grey-extralight: rgba(184, 184, 184, 0.2);
  --radius: 30px;
  --gap: 10px;
}

/******************************** general ********************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font1);
  color: var(--grey-light);
}
h1 {
  font-size: 3.5rem;
  color: var(--grey-dark);
  font-weight: 100;
  margin: 30px 0;
}
h2 {
  font-size: 2.5rem;
  font-weight: 100;
  color: var(--grey-dark);
  margin: 30px 0;
}
span {
  text-decoration: underline;
}
button,
input[type="submit"] {
  background: none;
  border: 1px solid var(--grey-light);
  border-radius: var(--radius);
  margin: 30px 0;
  padding: 20px 30px;
  width: 200px;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-areas:
    "name email"
    "msg msg"
    "msg msg"
    "btn btn";
  gap: var(--gap);
}
li {
  font-size: 1.5rem;
  list-style: none;
  color: var(--black);
  margin: 60px 40px;
}
i {
  background: none;
  vertical-align: middle;
}
footer {
  padding: 20px 0;
}

/******************************** specs ********************************/
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
input[type="submit"] {
  grid-area: btn;
  text-align: center;
}
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background: var(--grey-dark);
  color: whitesmoke;
}
i:hover {
  cursor: pointer;
  transform: scale(120%);
}

/******************************** Classes ********************************/
.S1,
.S2,
.S3,
.S4 {
  border-bottom: 1px solid var(--grey-extralight);
}
.S1 {
  display: grid;
  grid-template-columns: 500px, 500px;
  grid-template-rows: 1fr;
  grid-template-areas: "t i";
  justify-content: space-between;
  align-items: center;
}
.S2 {
  display: grid;
  grid-template-columns: 33%, 67%;
  grid-template-rows: 1fr;
  grid-template-areas: "i t";
  justify-content: space-between;
  align-items: center;
}
.S3 {
  display: grid;
  grid-template-columns: 67%, 33%;
  grid-template-rows: 1fr;
  grid-template-areas: "t i";
  justify-content: space-between;
  align-items: center;
}
.S4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.S1 p,
.S2 p,
.S3 p {
  color: var(--grey-light);
  font-size: 1.4rem;
  line-height: 30px;
  letter-spacing: 1px;
}
footer li {
  height: 60px;
  width: 60px;
  border: 1px solid var(--grey-light);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******************************** IDs ********************************/
#S1-txt {
  grid-area: t;
  margin: auto 70px;
}
#S2-txt {
  grid-area: t;
  margin: auto 70px;
}
#S3-txt {
  grid-area: t;
  margin: auto 70px;
}
#S1-img {
  height: 500px;
  width: 50vw;
  grid-area: i;
  background: url(./assets/img/banner.jpg);
  background-size: 130vh;
  background-position: bottom right;
  object-fit: cover;
}
#S2-img {
  height: 400px;
  width: 33vw;
  grid-area: i;
  background: url(./assets/img/banner-1.jpg);
  background-size: 800px;
  background-position: center;
  object-fit: cover;
}
#S3-img {
  height: 400px;
  width: 33vw;
  grid-area: i;
  background: url(./assets/img/banner-2.jpg);
  background-size: 800px;
  background-position: center;
  object-fit: cover;
}
#S2-txt p,
#S3-txt p {
  font-size: 1.1rem;
}
#div-form {
  width: 60%;
  height: 400px;
  padding: 0;
  margin: 0 0 50px 0;
}
#div-form label {
  font-family: var(--font1);
  font-size: 1.3rem;
  color: var(--grey-dark);
  height: 30px;
}
#div-form input { 
  height: 40px;
}
#div-form input[type="submit"] {
  grid-area: btn;
  text-align: center;
  padding: 0;
}
#div-name {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: name;
}
#div-email {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: email;
}
#div-message {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: msg;
}
#div-name label, #div-name input {
  width: 100%;
  text-align: center;
}
#div-email label, #div-email input {
  width: 100%;
  text-align: center;
}
#div-message label, #div-message textarea {
  width: 100%;
  text-align: center;
}
#div-message textarea {
  height: 200px;
  resize: vertical;
}

/******************************** @media ********************************/
@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    margin: 20px auto;
    text-align: center;
  }
  h2 {
    font-size: 1.5rem;
    margin: 20px auto;
    text-align: center;
  }
  p {
    text-align: center;
    margin: 0 5%;
  }
  form {
    width: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-areas:
      "name"
      "email"
      "msg"
      "btn";
    gap: 0px;
  }
  button,
  input[type="submit"] {
    margin: 30px auto;
    padding: 20px 30px;
    width: 200px;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
  }
  li {
    list-style: none;
    color: var(--black);
    margin: 10px 20px;
  }
  form div label,
  form div input {
    width: 600px;
    height: 40px;
  }
  form div textarea {
    width: 100vh;
    height: 200px;
    resize: none;
  }
  .S1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "i"
      "t";
    justify-content: space-between;
    align-items: center;
  }
  .S2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "i"
      "t";
    justify-content: space-between;
    align-items: center;
  }
  .S3 {
    height: 1150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "i"
      "t";
    justify-content: center;
    align-items: start;
    justify-items: center;
  }
  .S4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
  }
  #S1-txt {
    grid-area: t;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #S2-txt {
    grid-area: t;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #S3-txt {
    grid-area: t;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #S1-img {
    height: 500px;
    width: 100vw;
    grid-area: i;
    background: url(./assets/img/banner.jpg);
    background-size: 100vh;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  #S2-img {
    height: 400px;
    width: 100vw;
    grid-area: i;
    background: url(./assets/img/banner-1.jpg);
    background-size: 100vw;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
  }
  #S3-img {
    height: 800px;
    width: 100vw;
    grid-area: i;
    background: url(./assets/img/banner-2.jpg);
    background-size: 100vw;
    background-position: center;
    object-fit: contain;
    background-repeat: no-repeat;
  }
  #div-form {
    width: 400px;
    height: 500px;
    margin: 0;
    padding: 0;
  }
  #div-form form {
    width: 400px;
    height: 500px;
    margin: 0;
    padding: 0;
  }
  #div-name {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: name;
    margin: 0;
    padding: 0;
  }
  #div-email {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: email;
    margin: 0;
    padding: 0;
  }
  #div-message {
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: msg;
    margin: 0;
    padding: 20px 0;
  }
  #div-message textarea {
    width: 380px;
  }
}
